<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Cửa hàng ABC"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Web_banhang">

        <!-- Màn hình Admin -->
        <activity
            android:name=".AdminActivity"
            android:exported="false" />

        <!-- Màn hình User -->
        <activity
            android:name=".UserActivity"
            android:exported="false" />
        <activity
            android:name=".AddProductActivity"
            android:exported="false" />
        <activity
            android:name=".EditProductActivity"
            android:exported="false" />
        <activity
            android:name=".CartActivity"
            android:exported="false" />

        <!-- Màn hình đăng nhập -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CheckoutActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>